@import './carousel/styles';
@import './reset';
@import './font-awesome/styles';
@import './mixins.scss';
@import './variables.scss';

body {
  box-sizing: border-box;
  background-color: $base-background;
  font-family: $font-inter;
  color: $base-black;
}

.container {
  padding: 0rem 1.5rem;
  margin: auto;
  max-width: 36rem;
  @media (min-width: 769px) {
    max-width: 124rem;
  }
}

.banner {
  flex-direction: column;
  justify-content: space-evenly;
  display: flex;
  width: 100%;
  height: 320px;
  background: rgb(92, 165, 122);
  background: linear-gradient(180deg, #5ca57a 40%, #f1f1f1 100%);
}

.image-wrapper {
  display: flex;
  justify-content: center;
  img {
    transform: translateY(0);
    position: relative;
    height: 144px;

    &.showAnimation {
      animation: 1s linear showAnimation;
    }
  }
}

.menu-wrapper {
  position: relative;
  display: flex;

  align-items: center;
  justify-content: center;

  .menu-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0rem 1rem;
    max-width: 26.5rem;
    list-style: none;

    li a {
      text-decoration: none;
      font-weight: 700;
      cursor: pointer;

      &:visited {
        color: $base-black;
      }
    }
  }
}

@keyframes showAnimation {
  0% {
    transform: translateY(-34px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.category-title {
  font-family: $font-inter;
  margin-bottom: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 0 15px 30px rgba(54, 52, 53, 0.11),
    0 5px 15px rgba(54, 52, 53, 0.08);

  @media (min-width: 769px) {
    font-size: 2rem;
  }
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 1rem;

  .card {
    border-radius: 0.5rem;
    @include shadow();

    img {
      border-radius: 0.5rem 0.5rem 0rem 0rem;
      margin: center;
      width: 100%;
      height: auto;
    }

    .card-details {
      padding: 1rem;
      background-color: #fff;
      color: $base-black;
      border-radius: 0rem 0rem 0.5rem 0.5rem;
      h3 {
        text-align: center;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1rem;
      }
      p {
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
    }
  }

  @media (min-width: 769px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
