@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400;700&display=swap');

$base-background: #f1f1f1;
$base-black: rgba(54, 52, 53, 1);
$base-black-10: rgba(54, 52, 53, 0.1);

$font-inter: 'Inter', Arial, Helvetica, sans-serif;
$font-roboto: 'Roboto', Arial, Helvetica, sans-serif;
