@import './components/carousel/styles';
@import './components/reset';
@import './components/font-awesome/styles';


$base-background: #f1f1f1;

body {
	background-color: $base-background;
}

.container {
	padding: 0rem 1.5rem;
	margin: auto;
	height: 100%;
	max-width: 1400px;
}

.banner {
	flex-direction: column;
	justify-content: space-evenly; 
  display: flex;
	width: 100%;
	height: 320px;
	background: rgb(92, 165, 122);
	background: linear-gradient(180deg, #5ca57a 40%, #f1f1f1 100%);
}

.image-wrapper {
	display: flex;
	justify-content: center;
	img {
		transform: translateY(0);
		position: relative;
		height: 144px;

		&.showAnimation {
			animation: 1s linear showAnimation;
		}
	}
}

.menu-wrapper {
	position: relative;
	display: flex;

	align-items: center;
	justify-content:center;

	.menu-list {
		display:flex;
		justify-content: space-between;
		width: 100%;
		margin: 0rem 1rem;
		max-width: 26.5rem;
		list-style: none;

		li a {
			cursor: pointer;
		}
	}
}

@keyframes showAnimation {
	0% { 
		transform: translateY(-34px);
		opacity: 0;
	}
	100% { 
		transform: translateY(0px);	
		opacity: 1;
	}
}
